* {
  margin: 0;
  padding: 0;
}

:root {

  --primary-text: #3d495c;

  --title-text: #444955;

  --primary-background: #fafafa;

  --secondary-background: #023031;

  --default-background: white;

  --primary-font-text: epilogue;

  --secondary-font-text: verdana;

  --default-font-text: sans-serif;

  --input-height: 25px;
}

.formsCard {
  display: flex;
  flex-direction: column;
  width: 60%;
}

input {
  text-align: center;
}

.formsCard input {
  margin: 10px 0;
}

.bottom-line {
  border: none;
  border-bottom: 1px solid var(--primary-text);
}

.column-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.name-create {
  margin-top: 50px;
}

.name-input {
  height: var(--input-height);
  text-align: left;
}

input:focus {
  outline: none;
}

.description-input {
  min-height: 50px;
  width: 100%;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

.attribute-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.row-label {
  align-items: center;
  display: flex;
  justify-content: center;
}

.row-label > span {
  margin-right: 10px;
}

.attribute-input {
  border: 1px solid;
  border-radius: 5px;
  flex-grow: 2;
  height: var(--input-height);
  text-align: right;
}

.image-input {
  height: var(--input-height);
}

.select-box {
  background: var(--default-background);
  font-family: var(--secondary-font-text);
  font-size: 17px;
  height: 40px;
}

.image-container {
  position: relative;
}

.link-ico {
  background-color: var(--secondary-background);
  color: var(--default-background);
  position: absolute;
  top: 11px;
}

.input-label {
  color: var(--primary-text);
  font-family: var(--secondary-font-text) , var(--default-font-text);
  font-weight: 700;
}

.checkbox-super input {
  margin-right: 10px;
}

.checkbox-super {
  cursor: pointer;
}

.form-container {
  align-items: center;
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
  width: 50%;
}

.top-container {
  display: flex;
  height: 100vh;
}

.title-primary {
  color: #444955;
  font-family: var(--primary-font-text) , var(--default-font-text);
  margin-bottom: 40px;
}

.preview-container {
  align-items: center;
  background-color: var(--secondary-background);
  display: flex;
  flex-direction: column;
  width: 50%;
}

.attriContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.displayCards {
  display: flex;

}

.cardsFilter {
  background-color: bisque;
  height: 500px;
  width: 50%;
}

.cardsLibrary {
  background-color: blanchedalmond;
  height: 500px;
  width: 50%;
}

.eachCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
