* {
  margin: 0;
  padding: 0;
}

:root {

  --primary-text: #3d495c;

  --title-text: #444955;

  --primary-background: #fafafa;

  --secondary-background: #023031;

  --default-background: white;

  --input-height: 25px;
}

.forms-card {
  display: flex;
  flex-direction: column;
  width: 60%;
}

input {
  text-align: center;
}

.forms-card input {
  margin: 10px 0;
}

.bottom-line {
  border: none;
  border-bottom: 1px solid var(--primary-text);
}

.column-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.name-create {
  margin-top: 50px;
}

.name-input {
  height: var(--input-height);
  text-align: left;
}

input:focus {
  outline: none;
}

.description-input {
  min-height: 50px;
  width: 100%;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

.forms-attribute-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.row-label {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.row-label > span {
  margin-right: 10px;
}

.attribute-input {
  border: 1px solid;
  border-radius: 5px;
  height: var(--input-height);
  text-align: right;
  width: 70%;
}

.image-input {
  height: var(--input-height);
  width: 100%;
}

.select-box {
  background: var(--default-background);
  font-family: Verdana , sans-serif;
  font-size: 17px;
  height: 40px;
}

.image-container {
  position: relative;
  width: 100%;
}

.link-ico {
  background-color: var(--secondary-background);
  color: var(--default-background);
  position: absolute;
  top: 11px;
}

.text-format {
  color: var(--primary-text);
  font-family: Verdana , sans-serif;
  font-weight: 700;
}

.checkbox-super input {
  margin-right: 10px;
}

.checkbox-super {
  cursor: pointer;
}

.tryunfo-text {
  margin-top: 15px;
  text-align: center;
}

.form-container {
  align-items: center;
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
  width: 50%;
}

.save-btn {
  background-color: #003be5;
  border: none;
  color: white;
  font-family: Verdana , sans-serif;
  height: 40px;
  margin-top: 35px;
  transition: all 0.5s ease;
}

.save-btn:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.save-btn:hover:enabled {
  background-color: var(--secondary-background);
}

.display-container {
  background-color: var(--primary-background);
  display: flex;
  min-height: 100vh;
}

.title-primary {
  color: #444955;
  font-family: Epilogue , sans-serif;
  margin-bottom: 40px;
}

.preview-container {
  align-items: center;
  background-color: var(--secondary-background);
  display: flex;
  justify-content: center;
  width: 50%;
}

.card-edge {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 549px;
  justify-content: center;
  width: 368px;
}

.card-content {
  align-items: center;
  background-color: #036b52;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 529px;
  justify-content: center;
  width: 348px;
}

.card-title {
  align-items: center;
  background-color: #023031;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  padding-right: 15px;
  width: 302px;
}

.card-image-container {
  background-color: white;
  height: 238px;
  position: relative;
  width: 317px;
}

.image-card {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.trunfo-ico {
  align-items: center;
  background-color: #036b52;
  border: 5px solid var(--secondary-background);
  border-radius: 100%;
  bottom: 60px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 60px;
  justify-content: center;
  opacity: 0.9;
  position: absolute;
  right: 10px;
  transform: rotate(-25deg);
  width: 60px;
}

.description-container {
  background-color: tomato;
  position: relative;
  width: 317px;
}

.description-text {
  background-color: #036b52;
  color: white;
  font-family: Verdana , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  left: -7px;
  line-height: 13px;
  min-height: 40px;
  padding: 5px 15px;
  position: absolute;
  top: -30px;
  transform: rotate(-6.92deg);
  width: 305px;
}

.type-card {
  background-color: #023031;
  border-radius: 10px 10px 0 0;
  color: white;
  left: 5px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: -45px;
  transform: rotate(-6.92deg);
}

.card-attribute-container {
  align-items: center;
  background-color: white;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  height: 225px;
  justify-content: flex-end;
  width: 317px;
}

.card-attribute {
  align-items: center;
  background-color: #f0f2f5;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 80%;
}

.card-attribute:last-of-type {
  margin-bottom: 25px;
}

.card-attribute-container strong {
  align-items: center;
  background-color: #023031;
  border-radius: 0 10px 10px 0;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 45px;
}

.card-attribute-container span {
  font-family: Epilogue , sans-serif;
  margin-left: 15px;
  margin-right: 2px;
}

.card-attribute-container div {
  border-bottom: 1px dashed black;
  flex-grow: 2;
}

.filter-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.filter-options * {
  margin-bottom: 30px;
}

.preview-cards {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  flex-grow: 2;
  padding-left: 30px;
}

.cards-library {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card-library {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  margin: 0 20px 20px 0;
}

.card-delete-btn {
  background-color: white;
  border: 2px solid #003be5;
  border-radius: 2px;
  box-sizing: border-box;
  color: #003be5;
  opacity: 0.6;
  padding: 8px 32px;
}

.card-delete-btn:hover {
  opacity: 1;
}

.mid-container {
  padding-bottom: 100px;
  padding-top: 100px;
}
